<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{site.title}}</title>
  </head>

  <body>
    <h1>{{site.title}}</h1>

    {{{ md2html content }}}

    <ul>
      {{#each get_all_pages }}
        {{#if (eq (dirname @root.src_path) (dirname src_path)) }}
        <li><a href="{{ url }}">{{ title }}</a></li>
        {{/if}}
      {{/each}}
    </ul>

  </body>
</html>
