<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{site.title}}</title>
  </head>

  <body>
    <header>
      <h1><a href="/">{{site.title}}</a></h1>
    </header>

    <main>
      <article>
        <h1>{{title}}</h1>
        {{{ md2html content }}}
      </article>
    </main>

    <footer>
      <p><a href="/">← Back to Home</a></p>
    </footer>
  </body>
</html>